@font-face{
    font-family: "JetBrainsMono_Thin";
    src: url("JetBrainsMono-Thin.woff2") format("woff2");
}
@font-face{
    font-family: "JetBrainsMono-Bolditalic";
    src: url("JetBrainsMono-BoldItalic.woff2") format("woff2");
}
@font-face{
    font-family: "aileron_ultralight";
    src: url("aileron_ultralight.ttf") format("ttf");
}
body{

background-color: rgb(106, 155, 106);

}

video{
    max-width: 100%;
}
.container{
    border: 1px solid darkcyan;
    text-align: center;
    margin: 0 auto;
   
}

.header{
    font-family: 'JetBrainsMono_Thin';
}

h1{
    font-size: 80px;
    color:aquamarine;
}
h2{
    font-size: 20px;
    color: rgb(235, 238, 238);
    font-family: 'JetBrainsMono-Bolditalic';
}
h3{
    font-size: 14px;
    font-family: 'JetBrainsMono-Bolditalic';
}

.body-text{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'JetBrainsMono_Thin';
    margin-left:300px;
    margin-right: 300px;
    letter-spacing: 1px;
}


.wrapper{
    display: flex;
    font-family: 'JetBrainsMono_Thin';
}
  
.title2{
    font-size: 30px;
   text-align: center;
}

h4{
    font-family: 'JetBrainsMono-Bolditalic';
     color:antiquewhite;
}

h5{
    font-family: 'JetBrainsMono-Bolditalic';
}

p.pink{
    font-family: 'JetBrainsMono-Bolditalic';
    font-size: 20px;
    margin-left:300px;
    margin-right: 300px;
    line-height: 30px;
}

